@using MudBlazor
@using MudBlazorWebApp2.Models


<h1>THIS IS THE ONENNNNNN</h1>
<MudDialog>

    <DialogContent>
        <MudTextField @bind-Value="TheEmployee.EmployeeName" Label="Name" />
      
        <MudDatePicker @bind-Date="TheEmployee.EmployeeBirthDate" Label="Department Join Date" />
        <MudTextField @bind-Value="TheEmployee.EmployeeId" Label="Employee#" />
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="OnCancel">Cancel</MudButton>
        <MudButton OnClick="OnSubmit">Ok</MudButton>
    </DialogActions>

</MudDialog>






@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = new MudDialogInstance();


    private SuperEmployee TheEmployee = new SuperEmployee();


    private void OnSubmit() => MudDialog.Close(DialogResult.Ok(TheEmployee));

    private void OnCancel() => MudDialog.Cancel();
}

